@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --navy: #061A48;
    --pitch: #ECE7DB;
    --white: #F6F6F6;
    --orange: #EE5719;
    --grey: rgb(253, 247, 247);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}


 /* footer */
 .joint{
    text-align: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: grey;
 }

 .main-footer__links{
    margin-top: 2.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr );
    
 }
 .main-footer__link{
    list-style-type: none;
    font-weight: 600;
    
 }


 .out-field{
    margin-top: 1.3rem;
 }
 
 .footer-type{
     text-decoration: none;
     color: gray;
 }
 
 .footer-type:hover{
     color: rgb(163, 159, 159);
    
 }
 
 .copywright{
     margin-top: 2rem;
     font-weight: 600;
 }

 @media only screen and (min-width: 768px){

        
        .main-footer__links{
            display: flex;
            justify-content: space-around;
            margin: 0;
        }

        .out-field{
            margin: 0;
        }
 }
     
 @media only screen and (min-width: 1050px){
     .joint{
         display: flex;
         justify-content: space-between;
         
     }
 
     .main-footer__links{
         list-style-type: none;
         display: flex;
         justify-content: space-between;
         margin-top: 2rem;
     }

     .out-field{
        margin-top: 0;
     }
 
     .footer-type{
         margin: 2rem;
         text-decoration: none;
     }
 
     .copywright{
         margin: 2rem;
     }
 }

 /* Article */

 
.apply-button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    font-size: medium;
    padding: 1rem  1.5rem;
    margin-top: 1rem;
    font-weight: 700;
    border-radius: 3rem;
    cursor: pointer;
    
}

.apply-button:hover {
    background-color: white;
    color: var(--navy);
}

.article{
    background-color: var(--navy);
    color: white;
    padding: 2rem;
}

.article__text{
    line-height: 25px;
}

.article__center{
    text-align: center;
    padding-top: 2rem;
}

@media only screen and (min-width: 1050px){
    .article__text{
        margin: 0 15rem;
    }
}

/* Hero section */

.hero{
    background-color: var(--white);
}

.intro{
    color: var(--navy);
    font-size: 40px;
}

.intro__paragraph{
    color: var(--orange);
    font-weight: 400;
    font-size: 32px;
    padding-top: 7px;
}

.hero__section{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.first__image{
    width: 10%;
    height: 10%;
}

.second__image{
    text-align: center;
}

.grid__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
}

.grid__content{
    display: grid;
    justify-content: center;
    align-items: start;
    padding: 1.5rem 0 1.5rem 0 ;
    align-self: normal;
}

.desktop__image{
    display: none;
}

.desktop__frame{
    display: none;

}

@media only screen and (min-width: 768px){
    .hero__section{
        padding: 7rem;
    }
}

@media only screen and (min-width: 1050px){
    .hero__section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 4rem;
    }

    .second__image{
        display: none;
    }

    .desktop__image{
        display: block;
    }

    .first__image{
        display: none;
    }

    .desktop__frame{
        display: block;
    }

    .hero__section{
        padding: 7rem;
    }
}




/* Header */


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white ;
    padding: 18px 12%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar a{
    color: var(--navy);
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    padding: 5px 0;
    margin: 0px 30px;

}

.navbar a:hover{
    color: var(--orange);
}

.resource{
    display: flex;
    align-items: center;
}

.resource a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--navy);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}



.fix:hover{
    color: var(--orange);
}

.menu-icon{
    font-size: 35px;
    color: var(--navy);
    cursor: pointer;
    display: none;
}

.reg{
    background-color: rgb(231, 225, 225);
    padding: 12px;
    border-radius: 50px;
}

.reg:hover{
    background-color: var(--orange);
    color: white;
}

.opposite,
.mobile__nav{
    display: none;
}



@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 600px){
   
  /*  
    .navbar__desktop a:hover{
        color: var(--orange);
        transform: translateY(5px);
    } */

    .navbar,
    .logo,
    .resource{
        display: none;
    }


    .mobile__nav{
        display: block;
    }

    .mobile__nav li{
        list-style: none;
        font-size: 20px;
        font-weight: 400;
    }

    .mobile__nav a{
        text-decoration: none;
        color: var(--navy);
    }

    .mobile__nav a:hover{
        color: var(--orange);
    }

    .reg{
        background-color: white;
        border-radius: 0;
    }

    .reg:hover{
        background-color: white;
        color: var(--orange);
    }

    .mobile__nav{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color:white;
        padding: 2.5rem 2.5rem 1rem 2.5rem;
        transition: all .50s ease;
    }


    .mobile__image{
        text-align: center;
        padding-bottom: 1.3rem;
    }

}