<div class="article">
    <div class="article__body">
        <p class="article__text">P.S: Please note, we take Data Privacy seriously, so your contact information and adress will not 
            be shared with registerd firms without your permission. This means that if you them to visit or speak with you over the 
            phone, you'll need to tell them how to reach you.
        </p>

        <div class="article__center">
            <h2 class="comfy">Are you ready to begin?</h2>
            <button class="apply-button">Yes Please!</button> 
        </div>

    </div>
   </div>