<header>
    <ul class="navbar">
        <li><a href="#">Start</a></li>
        <li><a class="opposite" href="#">Sevices</a></li>
        <li><a class="opposite" href="#">Search Trades</a></li>
        <li><a href="#">Guide</a></li>
    </ul>

    <a href="#" class="logo"><img src="images/logo.svg" alt="logo"></a>

    <div class="resource">
        <a  href="#"><img src="images/user-icon.png" alt="">Login</a>
        <a class="reg"  href="#">Register</a>
    </div>

</header>


<div class="mobile__header">
<ul class="mobile__nav">
    <li><a href="#">Start</a></li>  
    <li><a href="#">Guide</a></li>  
    <li><a  href="#"><img src="images/user-icon.png" alt="">Login</a></li>  
    <li><a class="reg"  href="#">Register</a></li>  
</ul>

<div class="mobile__image">
    <a href="#" class="mobile__logo"><img src="images/logo.svg" alt="logo"></a> 
</div>
</div>